---
- name: Configure Webserver
  hosts: web
  become: yes
  tasks:
   - name: Install Apache
     yum:
       name: httpd
       state: present
   - name: Copy all files under files/
     copy:
       src: "{{ item }}"
       dest: /var/www/html/
     with_fileglob:
        - "{{ playbook_dir }}/../files/*"
   - name: Start and enable httpd
     service:
       name: httpd
       state: started
       enabled: yes
